.env
.vscode
/OldDataDashboard
/DataDashboard-main
/services/dashboard
/NewDataDashboard
services/connector/launchers/provider-vault.properties
services/connector/launchers/consumer-vault.properties
services/connector/launchers/.production.env
/NewDashboard/deployment/
/resources
/services/connector/launchers/connector1.env
/services/connector/launchers/connector2.env
/services/connector/launchers/cert.pfx
/services/connector/new-data-certs/*
/services/omejdn/daps/resources/keys/clients/*
/services/omejdn/daps/resources/keys/omejdn/*
/services/omejdn/daps/resources/keys/TLS/*
/services/omejdn/daps/resources/keys/broker.cert
/services/omejdn/daps/resources/keys/connectorA.cert
/services/omejdn/daps/resources/keys/connectorB.cert